<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        body{
            text-align: center;
            background-color: lavender;
            text-decoration: none;
            font-family: Bold by Rafal Tomal, Arial;
            width:800px;
            max-width:800px;
            margin-left:auto !important;
            margin-right:auto !important;
        }
    </style>
    <meta charset="UTF-8">
    <title>Личный кабинет администратора</title>
</head>
<body>
<h1>Личный кабинет администратора</h1>
<form method="post" action="/logout">
    <button type="submit">Выйти из личного кабинета</button>
    <button type="submit">Редактировать пользователя</button>
</form>
<a href="admin/product/add">Добавить товар</a>
<hr>
<div th:each="product : ${products}">
    <p th:text="'Наименование: ' + ${product.getTitle()}"></p>
    <p th:text="'Описание: ' + ${product.getDescription()}"></p>
    <p th:text="'Цена: ' + ${product.getPrice()}"></p>
    <p th:text="'Cклад: ' + ${product.getWarehouse()}"></p>
    <p th:text="'Продавец: ' + ${product.getSeller()}"></p>
    <p th:text="'Категория: ' + ${product.getCategory().getName()}"></p>
    <a th:href="@{/admin/product/edit/{id}(id=${product.getId()})}">Редактирование товара</a>
    <br>
    <a th:href="@{/admin/product/delete/{id}(id=${product.getId()})}">Удаление товара</a>
    <hr>
</div>
</body>
</html>